* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Landing Page */

.header {
    min-height: 100vh;
    width: 100%;
    background-image: -moz-linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    font-size: 13px;
    color: white;
}

.nav-links ul :hover {
    font-weight: bold;
    color: #f44336;
    cursor: pointer;
    font-size: medium;
    transition: 0.5s;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 20px 0;
    font-size: 15px;
}

.hero-btn {
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    display: inline-block;
    font-size: 13px;
    position: relative;
    background: transparent;
    cursor: pointer;
}

span :hover {
    border: 1px solid #f44336;
    background-color: #f44336;
    transition: 0.5s;
}

nav .fa {
    display: none;
}

@media(max-width: 700px) {

    .text-box h1 {
        font-size: 20px;
    }

    .nav-links ul li {
        display: flex;
        flex-direction: column;
    }

    .nav-links {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0%;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa {
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
    }
}

/* Course Page */

.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}

h1 {
    font-size: 36px;
    font-weight: 600;

}

p {
    color: #777;
    font-size: 14px;
    font-weight: 100;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col {
    flex-basis: 31%;
    background-color: #fff3f3;
    border-radius: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    margin-bottom: 5%;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px;
}

.row :hover {
    transition: 0.5s;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.course-col :hover {
    box-shadow: 0 0 20px 0px #fff3f3;
}

@media (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

/*Campus Page */

.campus {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;

}

.campus-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.campus-col img {
    width: 100%;
    transition: 00.5s;
    display: block;
}

.layer {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 00.5s;

}

.campus-col :hover {
    background: rgba(226, 0, 0, 0.7);
}

.layer :hover {
    background: transparent;
    box-shadow: none;
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 00.5s;
}

.campus-col :hover h3 {
    bottom: 49%;
    opacity: 1;
    transition: 1s;

}

@media (max-width: 700px) {
    .layer h3 {
        width: 100%;
        font-weight: 700;
        color: black;
        font-size: 39px;
        bottom: 50%;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        opacity: 1;
    }
}


/*Facilities Page */

.facilities {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.facilities :hover {
    background: transparent;
    box-shadow: none;
}

.facilities-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;

}

.facility-img :hover {
    transition: 0.5s;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.facilities-description :hover {
    background: transparent;
    box-shadow: none;
}

.facilities-col img {
    width: 100%;
    border-radius: 10px;
    height: 270px;
}

.facilities-col p {
    padding: 0;

}

.facilities-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;

}

/* Testimonials page */

.testimonials {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.testimonial-col {
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;

}

.testimonial-col :hover {
    background: transparent;
    box-shadow: none;
}

.testimonial-col img {
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.testimonial-col p {
    padding: 0;

}

.testimonial-col h3 {
    margin-top: 15px;
    text-align: left;
}

.testimonial-col .fa {
    color: #f44336;
}

@media (max-width: 700px) {
    .testimonial-col img {
        margin-left: 0px;
        margin-right: 15px;
    }
}

/*Call to action*/

.cta {
    margin: 100px auto;
    width: 80%;
    background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(contact.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

@media (max-width: 700px){
    .cta h1 {
        font-size: 24px;
    }
}

/*Footer*/

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons {
    color: #f44336;
    margin: 0 13px;
    padding: 18px 0;
    cursor: pointer;
}